<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csc591.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-feature 
        android:glEsVersion="0x00020000"
        android:required="true"/>
	<permission 
        android:name="com.csc591.view.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>

    <uses-permission android:name="com.csc591.view.permission.MAPS_RECEIVE"/>
   	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/wyc_green"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.csc591.view.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
            <intent-filter>
            <action android:name="com.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
            
        </activity>
        <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.csc591.view.SplashActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.csc591.view.FragmentDirection"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        
         <meta-data 
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBEqIdNDPyiXLAjezph5A0Kx2qIng8V1Y4"/>
    </application>

</manifest>